sheets-credentials.json
node_modules
package-lock.json
.firebaserc
firebase.json
.idx
.firebase
firebase-debug.log
db-notes.txt
auth.js
serviceAccount.json
firebase-debug.log
.env
google-service-account.json
data
workspace.zip
sheet-config.json